#title-screen {
  width: 749px;
  height: 256px;
  background-size: 100%;
  background-image: url("https://media.discordapp.net/attachments/772064957793435678/810179582262247444/title_screen.png?width=1498&height=632");
}

#the-camp {
  width: 749px;
  height: 256px;
  background-size: 100%;
  background-image: url("https://media.discordapp.net/attachments/772064957793435678/810193001384771615/the_camp.png?width=1498&height=632");
}

#the-map {
  width: 749px;
  height: 256px;
  background-size: 100%;
  background-image: url("https://media.discordapp.net/attachments/772064957793435678/810600002560852028/themap.png?width=1025&height=432");
}

#localstorage-name {
  width: 749px;
  height: 256px; 
  background-size: 100%;
  background-image: url("https://media.discordapp.net/attachments/772064957793435678/810193001384771615/the_camp.png?width=1498&height=632");
}

#achievement-house {
  width: 749px;
  height: 256px;
  background-size: 100%;
  background-image: url("https://media.discordapp.net/attachments/772064957793435678/814476446759780352/achievement_house_2.png?width=1498&height=632");
}

#the-farm {
  width: 749px;
  height: 256px;
  background-size: 100%;
  background-image: url("https://media.discordapp.net/attachments/772064957793435678/814857201218486282/the0farm.png?width=1498&height=632");
}

#the-city {
  width: 749px;
  height: 256px;
  background-size: 100%;
  background-image: url("https://media.discordapp.net/attachments/772064957793435678/816448434944606229/thdecity.png?width=1498&height=632");
}

#the-houses {
  width: 749px;
  height: 256px;
  background-size: 100%;
  background-image: url("https://media.discordapp.net/attachments/772064957793435678/816461540630724628/derhouses.png?width=1498&height=632");
}

#the-prison {
  width: 749px;
  height: 256px;
  background-size: 100%;
  background-image: url("https://media.discordapp.net/attachments/772064957793435678/816772794015940668/eeeeee.png?width=1498&height=632");
}