body {
  background-color: beige;
  font-family: 'Shadows Into Light', cursive;
}

button {
  font-family: 'Shadows Into Light', cursive;
}

input {
  font-family: 'Shadows Into Light', cursive;
}

.map-option {
  width: 100px;
}

#the-camp-intro {
  color: white;
}

#local-storage-name-form {
  color: white;
}